server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/inventory_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: inventory_user
    password: localuser123,

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: "asdf1234asdf1234asdf1234asdf1234"
  expiration-minutes: 60
